
@keyframes spinner {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.containerSpinner div { box-sizing: border-box!important }
.containerSpinner > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #1d3f72 transparent #1d3f72 transparent;
  animation: spinner 1s linear infinite;
}
.containerSpinner > div:nth-child(2) { border-color: transparent }
.containerSpinner > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.containerSpinner > div:nth-child(2) div:before, .containerSpinner > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #1d3f72;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #1d3f72;
}
.containerSpinner > div:nth-child(2) div:after { 
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #1d3f72;
}

.containerSpinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.containerSpinner div { box-sizing: content-box; }
.container {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.buttonSpinner div { box-sizing: border-box!important }
.buttonSpinner > div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #fe718d transparent #fe718d transparent;
  animation: spinner 1s linear infinite;
}
.buttonSpinner > div:nth-child(2) { border-color: transparent }
.buttonSpinner > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.buttonSpinner > div:nth-child(2) div:before, .buttonSpinner > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #fe718d;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #fe718d;
}
.buttonSpinner > div:nth-child(2) div:after { 
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #fe718d;
}
.buttonContainer {
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.buttonSpinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.3);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.buttonSpinner div { box-sizing: content-box; }