.Auth {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.formWrapper {
    padding-left: 25%;
}

.error {
    font-size: 0.7em;
    color: red;
    padding-left: 25px;
}