.Dashboard {
        position:fixed;
        padding: 8px 0px;
        border: 1px solid #ccc;
        background-color: #f3f3f3;
        align-content: center;
        top: 0;
}

.Menu {
        flex-direction: column;
        text-align: center;
}

.Heading {
        font-size: 1.5em;
        padding-left: 15%;
}
@media (min-width: 768px) {
        .Menu {
                margin-left: -63%;
                width: max-content;
                flex-direction: row;
        }
        .Dashboard {
                top:30%;
        }
        .Heading {
                font-size: 2.5em;
                padding-left: 9%;
        }
}
